<html>
<head>
    <title>Curso Node</title>
    {{> css_javascript}}
</head>
<body>
<div class="container">
    {{> menu}}
    <h2>Eliminar inscritos cursos</h2>
    <hr/>

    {{#if cerrado}}
        <div class="alert alert-success" role="alert">
            El curso se cerró correctamente.
        </div>
    {{/if}}

    <div class="row">
        <div class="col-md-12 mx-auto">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id Curso</th>
                    <th scope="col">Nombre Curso</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Inscritos</th>
                    <th scope="col">Estado</th>
                </tr>
                </thead>
                <tbody>
                {{#each cursos as |curso|}}
                    <tr>
                        <th scope="row"><a href="/ver-curso/{{curso.idCurso}}">{{curso.idCurso}}</a></th>
                        <td><a href="/ver-curso/{{idCurso}}">{{curso.nombre}}</a></td>
                        <td>{{curso.descripcion}}</td>
                        <td>
                            <ul class='list-group list-group-flush'>
                                {{#each ../inscritos as |inscrito|}}
                                    {{#ifEquals inscrito.idCurso curso.idCurso}}
                                        <li class='list-group-item'>{{inscrito.nombre}}
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class='btn btn-primary btn-sm' href='/eliminar-inscripcion/{{inscrito.idCurso}}/{{inscrito.documento}}' role='button'>Eliminar</a>
                                         </li>
                                    {{/ifEquals}}
                                {{/each}}
                            </ul>
                        </td>
                        <td>{{curso.estado}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
